@use "../custom" as *;
@use "../components/mixins" as *;

.footer{
    background-image: url('../images/footer/Untitled-1.png');
    // margin-top: rem;
    background-position: top;
    img{
        opacity: 0.4;
    }
    h2{
        @include media-breakpoint-down(sm){
            font-size: 1.4rem;
        }

        @include media-breakpoint-down(md){
            font-size: 1.5rem;
        }
    }
}